
@font-face {
    font-family: 'nsm';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/notosansmono/v32/BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_FNJ09DdVWYVP8c9MMEL.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

q {
    quotes: none;
    text-decoration: underline;
    pointer-events: all;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    font-size: 1em;
    color: black;
    background-color: white;

    margin: 0px;
    padding: 0px;
    margin: 1em;
}

ul {
    padding-left: 0; /* Removes padding that causes indentation */
    margin-left: 0;  /* Removes margin that causes indentation in some browsers */
    /* Optional, for wrapping items to new lines */
    flex-wrap: wrap;
    /* Optional, to remove default browser indentation/bullets */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#sidebar {
    flex: 0 0 10em;
}

@media (any-pointer:fine) {
    body {
        flex-direction: row;
    }
    #sidebar {
        /* todo:sticky sidebar? */
        flex: 0 0 10em;
    }
    #sirisdesc {
        margin-left: 1em;
    }
    .webFlex {
        width: 60vw; 
        flex-direction: row;
    }
}


@media (any-pointer:none), (any-pointer:coarse) {
    body {
        flex-direction: column;
        font-size: 2em;
    }
    #sidebar {
        flex: 0 0 1em;
    }
    .blogBlock {
        width: 30vh;
        background-size: 30vh;
        max-width: 90%;
        height: 30vh;
    }
    #sirisdesc {
        margin-top: 1em;
    }
    .webFlex {
        flex-direction: column;
    }
    .iframeMusic {
        display: none;
    }

}

#main {
    flex: 1;
}

.door {
    width: 40vh;
    position: relative;
    background: var(--img2);
    background-size: 0%;
}

.door:hover {
    background-size: 100%;
    content: var(--img2);
}

.door:click {
    background-size: 100%;
    content: var(--img2);
}

.emojiParticle {
    position: absolute;
    pointer-events: none;
}

.lifeimage {
   transition: opacity 1s linear, scale 1s ease-out;
   opacity: 0;
   max-width: 25%;
   position: absolute;
   pointer-events: none;
}


.button {
    color: inherit;
    text-decoration: none;
}

.button:hover {
    text-decoration: underline;
}

.collapse {
    color: inherit;
    text-decoration: none;
}

.collapseDiv {
    display:none; 
    margin-left: 1vh;
}

.collapseDiv > a {
    max-width: 100vh;
}

.collapse:hover {
    text-decoration: underline;
}

.remove {
    color: inherit;
    text-decoration: none;
}

.remove:hover {
    text-decoration: underline;
}

.dropdown {
    background-color: white;
    max-width: 25vh; 
    transition: top 0.1s, left 0.1s;
    position: absolute;
    pointer-events: none;
    z-index: 999;
    border: 1px solid black;
}

.dropdown a {
    padding: 5px;
    background-color: white; 
    text-decoration: none;
    display: block;
}

.popup {
    transition: opacity 0.5s;
    position: fixed;
    left: -50%;
    max-width: 90%; 
    max-height: 90%; 
    border: 0px; 
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    top: 50%;
    left: 50%;
}

.popup a {
    padding: 5px;
    background-color: black; 
    text-decoration: none;
    display: block;
}

.piece {
    position: absolute;
    max-width: 40vh;
    scale: 0;
    transition: all 1s;
    transform: translate(-50%, -0%);
    pointer-events: none;
    filter: drop-shadow(30px 10px 4px lightgray);
}

.shake:hover {
    transition: opacity 0.5s;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(0px, 5px);}
    33% { transform: translate(0px, -5px);}
    66% { transform: translate(0px, 5px);}
    100% { transform: translate(0px, 5px);}
}

.cardParent {
    text-align: center;
}

.card {
    display: inline-block;
    padding: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    background: var(--url) 50% 50% no-repeat;
    background-size: var(--w) var(--h);
    width: 2vw;
    height: 2vw;
    transition: background-size 0.5s;
    will-change: filter;
}

.card:hover {
    background-size: var(--zoom);
}

.zoom {
    position: absolute;
    width: 100%;
    height: 100%;
}

mark {
    background: gray!important;
    color: white;
}

input {
    font-size: 1em;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    border: 1px solid black;
    padding: 0.5vh;
    float: left;
    background-color: white;
}

.typesort {
    width: 1.5vh;
    height: 1.5vh;
    accent-color: black;
}

.listsort {
    width: 1.5vh;
    height: 1.5vh;
    accent-color: black;
}

#game {
    border: #FFFFFF;
    border-radius: 5%;

	background:black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width:80vh;
	max-width:100%;
	margin:auto;
	display:block;
	touch-action: none; /* fixing touch-input errors in chrome */

	/* sharp pixel edges */
	/* https://caniuse.com/#search=image-render */
  	-ms-interpolation-mode: nearest-neighbor; /* IE */
  	image-rendering: -moz-crisp-edges; /* FF 6.0+ */
  	image-rendering: pixelated; /* Chrome, Safari */
}


.lostFoundImg {
    height: 10vh;
    margin: 5vh;
    vertical-align: center;
    text-align: center;
    width: 10vh;
    scale:1;
    max-width: 100vw;
    transition: scale 0.5s;
}

.lostFoundImg:hover {
    scale: 3;
}

@keyframes pulse {
    0% {scale: 0.5;}
    50% {scale: 2;}
    100% {scale: 0.5;}
} 



.spark {
    text-align: center;
    position: absolute;
    pointer-events: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0em;
    top:50%;
    left: 50%;
    z-index: 1000;
    transition: left 1s, top 1s, font-size 1s;
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.marquee {
    color: white;
    position: absolute;
    animation: my-animation 50s linear;
}

@keyframes my-animation {
    from {
    }
    to {
      transform: translateX(-100%);
    }
}

.shopTxt {
    text-align: center;
    width: 100%;
    max-width: 50vh;
}

.shopImg {
    max-width: 50%;
    text-align: center;
    max-height: 50%;
    justify-content: center;
    margin: auto;
    transition: all 0.6s linear;
}

.shopImg:hover {
    transform: rotate(350deg);
}

#shoppe {
    z-index: -1; font-family: 'Snell Roundhand', cursive; position: fixed; width: 100vh; max-height: 80vw; font-size: 350px; opacity: 20%; bottom:10%; left:5%; pointer-events: none;
}

#headpic img {
    width: 20vh; 
    max-width: 50%;
}

#carousel {
    right: 0%; 
    top:50%; 
    width: 50vh; 
    max-width: 100%; 
    height: 50vh;

    #spotlight {
        float: left; 
        width:100%; 
        height: auto; 
        z-index: -1;
    }
}

#shopdesc {
    text-align: left; 
    justify-content:center;
    float: left;
    margin-bottom: 50px;
}

.carouselIMG {
    float: left; 
    width: 20%; 
    height: 20%; 
    background-size: 100% auto;
    margin: 2.5%;
    background-repeat: no-repeat;
}

.carouselIMG:hover {
    outline: 1px solid black;
}

.sorter {
    transition: opacity 0.5s;
}

 li {
    margin-left: 1vh;
    
 }

.sorter > ul {
    display: flex;
    
}

.archaicPic {
    position: absolute; 
    max-width: 20%; 
    width: 40vh;
    animation: backandforth ease;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes backandforth {
    0% {}
    33% {transform: translateX(-50%);}
    66% {transform: translateX(50%);}
    100% {transform: translateX(0%);}
}

.blogPost {
    opacity: 100; 
    max-width: 100vh; 
    word-wrap:break-word;
    
}

.albumCover {
    display: inline;
}

a > img:hover {
    outline: 1px solid black;
}

.albumCover > a > img {
    width: 400px; 
    max-width: 100%;
   
}

.blogBlock {
    opacity: 100; 
    width: 20vh;
    height: 20vh;
    text-align: bottom;
    float: left;
    border: 1px solid black;
    background-color: white; 
    background-size: 10em;
    margin-right: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    word-wrap:break-word;
    transition: scale 100ms linear;
    position: relative;
}


.cycler {
    color: black;
    font-size: 1000vw; 
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(10px 10px 0px white);
    overflow: hidden;
    pointer-events: none;
}

.invert {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    background: #fff;
    left: 0;
    mix-blend-mode: difference;
    pointer-events:none; 
    opacity: 1;
}


.sirisvid {
    flex: 0 0 30em;
    align-self: flex-start;
    aspect-ratio: 16 / 9;
    width: 80vh;
    max-width: 100%; 
}




.images {
    max-width: 6em;
    height: auto;
}

canvas {
    position: absolute;
    z-index: 1;
}

.pdfFile:hover {
    text-decoration: underline;
}

.pdfFolder:hover {
    text-decoration: underline;
}

.webFlex {
    
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
}

.webLink {
    flex: 1;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;


    img {
        max-width: 100%;
        transition: scale 100ms linear;
        scale: 1;
        z-index: 0;
    }
}

.webLink img:hover {
    scale: 1.05;
}

.webLinkTitle {
    font-size: 1.5em;
    flex: 0.2;
    position: absolute;
    background-color: white;
    z-index: 999;

    div {
        font-size: 0.8em;
        font-style: italic;
    }
}